.app {
  display: flex;
  flex-direction: column;
  height: 100vh;
  overflow: hidden;
  background: var(--color-white);
}

.app-body {
  display: flex;
  flex: 1;
  overflow: hidden;
}

.app-main {
  display: flex;
  flex-direction: column;
  flex: 1;
  overflow: hidden;
  min-width: 0;
  border-radius: 4px 4px 0 0;
}

.app-content {
  display: flex;
  flex: 1;
  overflow: hidden;
  position: relative;
}
